node_modules/
*node_modules/
/node_modules
*DS_store
.meteor/local


/imports/api/shows/server/publications/all_shows.js

/imports/api/instagram/server/publications/all_insta.js

/imports/api/twitter/server/publications/all_twitter.js

/server/lib/config/accounts.js
